body, html {
	height: 100%;
}


body {
	background-image: url(background_2.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 


hr {
	width: 70px;
	border-style: solid;
	border-color: #AA3C39;
	/*Use this to horizontally align hr: "margin: 0px auto"*/
	margin: 230px auto 0px auto;
	border-width: 2px;
	opacity: 1;
}


h1 {
	color: white; 
	text-transform: uppercase;
}

.container {
	height: 100%;
	width: 100%;
	padding-right: 0px;
}



.row {
	width: 100%;
	height: 50%;
}


.col {
	display: block;
	text-align: center;
	align-content: center;
	align-items: center;
}

.btn {
	width: 200px;
	height: 50px;
	background-color: #AA3C39;
	border-color: #AA3C39;
	font-weight: bold;
	margin-top: 70px;
}

.text {
	margin-top: 290px;
}